#admin-section {
    padding: 20px;
    min-height: 100vh;
}

#admin-section h1 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

#admin-section p {
    color: gray;
    margin-bottom: 10px;
    text-align: center;
}

#admin-section form {
    width: 50%;
    margin: auto;
    padding: 20px;
}

#admin-section form * {
    display: block;
    width: 100%;
}

#admin-section form label {
    font-weight: bold;
}

#admin-section form input,
#admin-section form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    border: 1px solid gray;
}

form button {
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #30302e;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #a1a1a0;
}

button:disabled,
form button:hover:disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.6;
}