#login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   #login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    padding: 20px;
    min-height: 100vh;
    background-color: #f5f5f5;
}

#login-section h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

#login-section p {
    margin-bottom: 20px;
    text-align: center;
}

#login-section form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login-section form * {
    display: block;
    width: 100%;
}

#login-section form label {
    margin-top: 10px;
    font-weight: bold;
}

#login-section form input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid gray;
}

#login-section form button {
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #30302e;
    transition: background-color 0.3s ease;
}

#login-section form button:hover {
    background-color: #a1a1a0;
}

    padding: 20px;
    min-height: 100vh;
    background-color: #f5f5f5;
}

#login-section h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

#login-section p {
    margin-bottom: 20px;
    text-align: center;
}

#login-section form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login-section form * {
    display: block;
    width: 100%;
}

#login-section form label {
    margin-top: 10px;
    font-weight: bold;
}

#login-section form input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid gray;
}

#login-section form button {
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #30302e;
    transition: background-color 0.3s ease;
}

#login-section form button:hover {
    background-color: #a1a1a0;
}
