#register-section h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

#register-section {
    margin-bottom: 20px;
    text-align: center;
}

#register-section form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
}

#register-section form * {
    display: block;
    width: 100%;
}

#register-section form label {
    margin-top: 10px;
    font-weight: bold;
}

#register-section form input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid gray;
}

#register-section form button {
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #30302e;
    transition: background-color 0.3s ease;
}

#register-section form button:hover {
    background-color: #a1a1a0;
}

.error-message {
    text-align: center;
    color: red;
}

.success-message {
    text-align: center;
    color: greenyellow;
}